*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.register-box{

width:420px;

background:white;

padding:35px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

h1{

text-align:center;
color:#0d6efd;
margin-bottom:8px;

}

h2{

text-align:center;
margin-bottom:20px;

}

input,select{

width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:6px;
font-size:15px;

}

button{

width:100%;
padding:12px;
background:#0d6efd;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;

}

button:hover{

background:#084298;

}

#message{

margin-top:15px;
text-align:center;
font-weight:bold;

}

a{

color:#0d6efd;
text-decoration:none;

}